
#stories-title {
 padding-bottom: 14vh;
 font-size: 4vmax;
}

#stories-title span {
    color:#4795D1;
}

#stories-text {
    /* border: 1px solid red; */
    min-width: 350px;
    /* font-size: 200%; */
    font-size: 2vmax;
}

#stories-carousel .carousel-inner{
    border-radius: 3px;
}